body {
    background: #1A0F24;
    height: 100dvh;
}

noscript {
    width: 99%;
    height: 95dvh;
    background: #1A0F24;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 50pt;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}