:root {
    --CorCinzaEscuro: #121314;
    --CorCinzaClaro: #191a1b;
    --CorCinzaSearch: #191a1b;
    --CorCinzaDivisao: #2a2b2c;
    --CorSelecionador: #2c2d2e;
    --CorTextoBarraPesquisa: #5e5e5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 2560px) {
    .containerMain {
        display: grid;
        grid-template-columns: 27rem 1fr;
        grid-template-rows: 35px 1fr;
        width: 100%;
        height: calc(100vh - 35px);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        background: var(--CorCinzaEscuro);
    }

    .ExploradorContent {
        grid-column: 1;
        grid-row: 1 / span 2; 
        display: flex;
        height: 100%;
        background: var(--CorCinzaClaro);
        border-right: 1px solid var(--CorCinzaDivisao);
    }

    .ExploradorContentLeft {
        width: 15%;
        height: 100%;
        background: var(--CorCinzaClaro);
        border-right: 1px solid var(--CorCinzaDivisao);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .ExploradorContentLeft svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .ExploradorContentRight {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
    }

    .ExploradorContentHeader {
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 1rem;
    }

    .ExploradorContentHeader h1 {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1px;
    }

    .ExploradorContentBody {
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }

    .ExploradorContentBodySVG {
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        align-items: center;
    }

    .ExploradorContentBody h2 {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        margin: 0;
    }

    .OpenProjetosContent {
        grid-column: 2;
        grid-row: 1;
        height: 100%;
        background: #2d2d2d;
        border-bottom: 1px solid #1e1e1e;
        display: flex;
        align-items: center;
    }

    .AreaContent {
        grid-column: 2;
        grid-row: 2;
        height: 100%;
        background: #1e1e1e;
        overflow-y: auto; 
        box-sizing: border-box;
    }
}