@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Kode+Mono:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');


@media screen and (min-width: 280px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        animation: aparecer 1s ease-in-out;
    }

    @keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .imagem {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }

    .imagem img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 15pt;
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 95%;
        height: 11rem;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 10pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 10pt;
        font-weight: bold;
    }

    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        margin: 0 0 10px 0;
    }

    .textoQuadradoHabilidade {
        display: flex;
        color: #fff;
        font-size: 10pt;
        margin: 0 0 0 15px;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 7rem;
        height: 2rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .quadradoSkills p {
        font-size: 10pt;
        margin: auto;
    }
}

@media screen and (min-width: 360px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
    }

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .imagem {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 20pt;
        font-weight: bold;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 95%;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 12pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 11pt;
        font-weight: bold;
    }



    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textoQuadradoHabilidade {
        display: flex;
        color: #fff;
        font-size: 10pt;
        margin: 0 0 0 10px;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 8rem;
        height: 2rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .quadradoSkills p {
        font-size: 11pt;
        margin: auto;
    }

}

@media screen and (min-width: 384px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
    }

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .imagem {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 20pt;
        font-weight: bold;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 95%;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 12pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 11pt;
        font-weight: bold;
    }



    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textoQuadradoHabilidade {
        display: flex;
        color: #fff;
        font-size: 10pt;
        margin: 0 0 0 10px;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 9rem;
        height: 2rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .quadradoSkills p {
        font-size: 11pt;
        margin: auto;
    }

}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
    }

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .imagem {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 25pt;
        font-weight: bold;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 95%;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 15pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 15pt;
        font-weight: bold;
    }



    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textoQuadradoHabilidade {
        display: flex;
        color: #fff;
        font-size: 15pt;
        margin: 0 0 0 10px;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 15rem;
        height: 5rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .quadradoSkills p {
        font-size: 15pt;
        margin: auto;
    }

    .terceiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
    }

    .textoQuadradoCurriculo {
        display: flex;
        color: #fff;
        font-size: 15pt;
        margin: 0 0 0 10px; 
    }

    .quadradoBaixarCurriculo button {
        width: 5rem;
        height: 5rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }

}

@media screen and (min-width: 900px) {
    .textoQuadradoHabilidade {
        margin: 0 0 0 30px;
        font-size: 20pt;
    }

    .terceiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        margin: 1rem 0 0 0;
    }

    .textoQuadradoCurriculo {
        display: flex;
        color: #fff;
        font-size: 20pt;
        margin: 0 0 0 10px; 
    }

    .quadradoBaixarCurriculo button {
        width: 5rem;
        height: 5rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 950px) {
    .textoQuadradoHabilidade {
        margin: 0 0 0 40px;
        font-size: 20pt;
    }

    .terceiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        margin: 1rem 0 0 0;
    }

    .textoQuadradoCurriculo {
        display: flex;
        color: #fff;
        font-size: 20pt;
        margin: 0 0 0 10px; 
    }

    .quadradoBaixarCurriculo button {
        width: 5rem;
        height: 5rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
    }

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .imagem {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 25pt;
        font-weight: bold;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 95%;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 15pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 15pt;
        font-weight: bold;
    }



    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textoQuadradoHabilidade {
        margin: 0 0 0 12px;
        font-size: 20pt;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 20rem;
        height: 5rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .quadradoSkills p {
        font-size: 15pt;
        margin: auto;
    }

    .terceiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        margin: 1rem 0 0 0;
    }

    .textoQuadradoCurriculo {
        display: flex;
        color: #fff;
        font-size: 20pt;
        margin: 0 0 0 10px; 
    }

    .quadradoBaixarCurriculo button {
        width: 5rem;
        height: 5rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }

}

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        height: 150dvh;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        animation: aparecer 1s ease-in-out;
    }

    @keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .imagem {
        width: 10rem;
        height: 10rem;
    }

    .imagem img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 20pt;
        font-weight: bold;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 80%;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 15pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 15pt;
        font-weight: bold;
    }

    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textoQuadradoHabilidade {
        margin: 0 0 0 6rem;
        font-size: 15pt;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 10rem;
        height: 3rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 0 0;
    }

    .quadradoSkills p {
        font-size: 12pt;
        margin: auto;
    }

    .terceiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        margin: 0;
    }

    .textoQuadradoCurriculo {
        display: flex;
        color: #fff;
        font-size: 10pt;
        margin: 0 ; 
    }

    .quadradoBaixarCurriculo button {
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }

}

@media screen and (min-width: 2560px) {
    main {
        display: flex;
        flex-direction: column;
        height: 120dvh;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        animation: aparecer 1s ease-in-out;
    }

    @keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

    .primeiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25rem;
        align-items: center;
    }

    .imagem {
        width: 10rem;
        height: 10rem;
    }

    .imagem img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .nomeMain {
        color: #fff;
        font-size: 25pt;
        font-weight: bold;
    }

    .Titulo, .subTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .subTitulo {
        width: 70%;
    }

    .Titulo p {
        color: #AD8FCC;
        font-size: 15pt;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subTitulo p {
        color: #fff;
        font-size: 15pt;
        font-weight: bold;
    }

    .segundoQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textoQuadradoHabilidade {
        margin: 0 0 0 20rem;
        font-size: 15pt;
    }

    .quadradoHabilidade {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .quadradoSkills {
        display: flex;
        width: 15rem;
        height: 4rem;
        background: #36214A;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .quadradoSkills p {
        font-size: 15pt;
        margin: auto;
    }

    .terceiroQuadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        margin: 1rem 0 0 0;
    }

    .textoQuadradoCurriculo {
        display: flex;
        color: #fff;
        font-size: 15pt;
        margin: 0 0 0 10px; 
    }

    .quadradoBaixarCurriculo button {
        width: 5rem;
        height: 5rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }

}