:root {
    --CorCinzaEscuro: #121314;
    --CorCinzaClaro: #191a1b;
    --CorCinzaSearch: #191a1b;
    --CorCinzaDivisao: #2a2b2c;
    --CorSelecionador: #2c2d2e;
    --CorTextoBarraPesquisa: #5e5e5f;
}

@media screen and (min-width: 2560px) {
header {
    width: 100%;
    height: 3rem;
    background: var(--CorCinzaClaro);
    border-bottom: 1px solid var(--CorCinzaDivisao);
}

.headerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 0 1rem;
}

.headerContentLogo {
    width: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.headerContentText {
    width: 30%;
    display: flex;
    gap: 1rem;
}

.headerContentText h1, .headerContentSearch h1 {
    font-family: 'Courier New', ;
    font-size: 14pt;
    font-weight: 300;
    color: #afafaf;
}

.headerContentSearch {
    width: 30%;
    height: 75%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: var(--CorCinzaSearch);
    border-radius: 10px;
    border: solid 1px var(--CorCinzaDivisao);
}

.headerContentSearch h1 {
    font-size: 10pt;
}

.headerContentClosed {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}

.headerContentSVG {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

}