@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Kode+Mono:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --corPurple: #AD8FCC;
    --corBranca: #fff;
}


@media screen and (min-width: 280px) {
header {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.tradutor {
    display: flex;
    width: 3rem;
}

.language {
    width: 2rem;
    height: 2rem;
    appearance: none;
    color: var(--corPurple);
    border: none;
    background: transparent;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

.language:focus {
    outline: none;
}

.language option {
    font-size: 10pt;
}
/*

.quadradoProjetos {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: var(--corBranca);
}

.title h1 {
    text-transform: uppercase;
}
 */
}

@media screen and (min-width: 768px) {
header {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.tradutor {
    display: flex;
    width: 3rem;
}

.language {
    width: 2rem;
    height: 2rem;
    appearance: none;
    color: var(--corPurple);
    border: none;
    background: transparent;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
}

.language:focus {
    outline: none;
}

.language option {
    font-size: 10pt;
}
/*

.quadradoProjetos {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: var(--corBranca);
}

.title h1 {
    text-transform: uppercase;
}
 */
}