@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Kode+Mono:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');


@media screen and (min-width: 280px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        font-size: 10pt;
        background: #36214A;
    }

    .quadradosFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: transparent;
        border: none;
        font-size: 10pt;
        font-weight: 600;
        margin: auto;
    }

    .textoFooterAtivo {
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .textoFooter {
        color: #AD8FCC;
        padding: 0;
        margin: 0;
    }

    .quadradosFooter img {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
    }

    .imgInativa {
        filter: brightness(0) saturate(100%) invert(62%) sepia(12%) saturate(780%) hue-rotate(229deg) brightness(89%) contrast(91%);
        transition: filter 0.3s ease;
}

    .imgAtiva {
        filter: brightness(0) invert(1);
        transition: filter 0.3s ease;
}


}

@media screen and (min-width: 768px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        font-size: 10pt;
        background: #36214A;
    }

    .quadradosFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: transparent;
        border: none;
        font-size: 12pt;
        font-weight: 600;
        margin: auto;
    }

    .textoFooterAtivo {
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .textoFooter {
        color: #AD8FCC;
        padding: 0;
        margin: 0;
    }

    .quadradosFooter img {
        position: relative;
        width: 2rem;
        height: 2rem;
    }

    .imgInativa {
        filter: brightness(0) saturate(100%) invert(62%) sepia(12%) saturate(780%) hue-rotate(229deg) brightness(89%) contrast(91%);
        transition: filter 0.3s ease;
}

    .imgAtiva {
        filter: brightness(0) invert(1);
        transition: filter 0.3s ease;
}


}


@media screen and (min-width: 1024px) {
    footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        font-size: 10pt;
        background: #36214A;
    }

    .quadradosFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: transparent;
        border: none;
        font-size: 12pt;
        font-weight: 600;
        margin: auto;
    }

    .textoFooterAtivo {
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .textoFooter {
        color: #AD8FCC;
        padding: 0;
        margin: 0;
    }

    .quadradosFooter img {
        position: relative;
        width: 2rem;
        height: 2rem;
    }

    .imgInativa {
        filter: brightness(0) saturate(100%) invert(62%) sepia(12%) saturate(780%) hue-rotate(229deg) brightness(89%) contrast(91%);
        transition: filter 0.3s ease;
}

    .imgAtiva {
        filter: brightness(0) invert(1);
        transition: filter 0.3s ease;
}


}

@media screen and (min-width: 2560px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Space Grotesk", sans-serif;
        font-weight: bold;
        font-size: 10pt;
        background: #36214A;
    }

    .quadradosFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: transparent;
        border: none;
        font-size: 12pt;
        font-weight: 600;
    }

    .textoFooterAtivo {
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .textoFooter {
        color: #AD8FCC;
        padding: 0;
        margin: 0;
    }

    .quadradosFooter img {
        position: relative;
        width: 2rem;
        height: 2rem;
    }

    .imgInativa {
        filter: brightness(0) saturate(100%) invert(62%) sepia(12%) saturate(780%) hue-rotate(229deg) brightness(89%) contrast(91%);
        transition: filter 0.3s ease;
}

    .imgAtiva {
        filter: brightness(0) invert(1);
        transition: filter 0.3s ease;
}


}